* {
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
}

img {
  width: 40%;
}

section {
  width: 80%;
  margin: 3rem auto;
  background-color: rgb(255, 220, 154);
  border-radius: 1rem;
  padding: 1rem;
}

.food {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f2 {
  margin-top: 1rem;
}

.promo {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  width: 60vw;
}

.feet {
  height: 5rem;
  background-color: blanchedalmond;
  padding: 3rem;
  text-align: center;
}

nav{
  background-color: rgb(255, 220, 154);
  padding: 6rem;
  margin: 0 auto;
  width: fit-content;
  border-radius: 2rem;
}

h1 {
  font-size: 3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color: rgb(255, 174, 0);
  padding: 3rem;
}